@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|Ubuntu');

@mixin defineTimeAnimation($duration: 1s, $delay: 0, $count: 1) {
    -webkit-animation-duration: $duration;
    -webkit-animation-delay: $delay;
    -webkit-animation-iteration-count: $count;
    -o-animation-duration: $duration;
    -o-animation-delay: $delay;
    -o-animation-iteration-count: $count;
    -moz-animation-duration: $duration;
    -moz-animation-delay: $delay;
    -moz-animation-iteration-count: $count;
}

* {
    margin: 0;
    padding: 0;
    color: white;
}

body {
    font-family: 'Roboto Mono', monospace;
}

.full-page {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
}

.loading {
    z-index: -2;
    display: flex;
    align-items: center;
    background: #000;
    .content {
        margin: 0 auto;
        text-align: center;
        img {
            width: 60px;
            height: auto;
        }
    }
}

.show {
    display: inherit !important;
}

.backdrop {
    background: #000;
    opacity: 0;
    z-index: 2;
}

.background-image {
    display: none;
    background-attachment: fixed !important;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

#background-1 {
    background: url('../images/background-1.jpg');
}

#background-2 {
    background: url('../images/background-2.jpg');
}

#background-3 {
    background: url('../images/background-3.jpg');
}

.content {
    z-index: 3;
    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 150px;
        display: table;
        z-index: 5;
        .logo {
            position: absolute;
            left: 100px;
            top: 40px;
            img {
                width: 80px;
            }
        }
        .menu {
            position: absolute;
            top: 70px;
            right: 80px;
            text-transform: uppercase;
            nav {
                list-style: none;
                .special {
                    margin-left: 150px;
                }
                a {
                    font-weight: bold;
                    text-decoration: none;
                    color: rgb(207, 206, 206);
                    margin: 0 30px;
                    font-size: 0.85em;
                    &:hover {
                        color: #fff;
                        transition-duration: 1s;
                    }
                }
            }
        }
    }
    .titles {
        display: flex;
        align-items: center;
        height: 100%;
        width: 60%;
        margin: 0 auto;
        h1 {
            font-family: 'Ubuntu', sans-serif;
            font-size: 300%;
            max-width: 600px;
            min-width: 300px;
            display: none;
            text-shadow: 2px 2px #000;
        }
        .show {
            display: inherit;
        }
    }
    .subtitles {
        position: absolute;
        bottom: 40px;
        width: 100%;
        margin: 0 auto;
        .subtitle {
            display: none;
            @include defineTimeAnimation(1s, 0, 1);
        }
        .rotate {
            transform: rotate(-90deg);
            width: 70px;
            position: absolute;
            bottom: 10px;
            margin-left: 40%;
            font-size: 100%;
        }
        .special {
            width: 130px;
            margin: 0 auto;
            font-size: 120%;
            span {
                display: table;
                background: linear-gradient(to right, #2E28F1, #7B04F9);
                padding: 10px;
            }
        }
        .show {
            display: inline-block;
        }
    }
}